In [51]:
alist = ["John", 33,"Toronto", True]

In [52]:
alist

['John', 33, 'Toronto', True]

In [53]:
type(alist)

list

In [54]:
bin_colors=['Red', 'Gree', 'Blue', 'Yelow']

In [55]:
bin_colors=('Red', 'Green', 'Blue', 'Yelow')
print(f"The second element of the tuple is {bin_colors[1]}")

The second element of the tuple is Green

In [56]:
print(f"The elements after thrid element onwards are {bin_colors[2:]}")

The elements after thrid element onwards are ('Blue', 'Yelow')

In [57]:
nested_tuple = (1,2,(100,200,300),6)
print(f"The maximum value of the inner tuple {max(nested_tuple[2])}")

The maximum value of the inner tuple 300

In [58]:
bin_colors = {
    "manual_color": "Yelow",
    "approved_color": "Green",
    "refused_color": "Red"
}

In [59]:
print(bin_colors)

{'manual_color': 'Yelow', 'approved_color': 'Green', 'refused_color': 'Red'}

In [60]:
bin_colors.get('approved_color')

'Green'

In [61]:
bin_colors['approved_color']

'Green'

In [62]:
bin_colors['approved_color']="Purple"

In [63]:
print(bin_colors)

{'manual_color': 'Yelow', 'approved_color': 'Purple', 'refused_color': 'Red'}

In [64]:
green = {'grass', 'leaves'}
print(green)

{'grass', 'leaves'}

In [65]:
yellow = { 'dandelions', 'fire hydrant', 'leaves'}
red = {'fire hydrant', 'blood', 'rose', 'leaves'}

In [66]:
print(f"The union of yellow and red sets is {yellow|red}")

The union of yellow and red sets is {'dandelions', 'leaves', 'blood', 'fire hydrant', 'rose'}

In [67]:
print(f"The intersaction of yellow and red is {yellow&red}")

The intersaction of yellow and red is {'leaves', 'fire hydrant'}

In [68]:
import pandas as pd 
df = pd.DataFrame([
    ['1', 'Fares', 32, True],
    ['2','Elena', 23, False],
    ['3', 'Steven',40, True]])
df.columns = ['id', 'name', 'age', 'decision']
print(df)

  id    name  age  decision
0  1   Fares   32      True
1  2   Elena   23     False
2  3  Steven   40      True

In [69]:
df[['name', 'age']]

     name  age
0   Fares   32
1   Elena   23
2  Steven   40

In [70]:
df.iloc[:,3]

0     True
1    False
2     True
Name: decision, dtype: bool

In [71]:
df.iloc[1:3,:]

  id    name  age  decision
1  2   Elena   23     False
2  3  Steven   40      True

In [72]:
df[df.age>30]

  id    name  age  decision
0  1   Fares   32      True
2  3  Steven   40      True

In [73]:
import numpy as np
myMatrix = np.array([[11,12,13],[21,22,23],[31,32,33]])

In [74]:
print(myMatrix)

[[11 12 13]
 [21 22 23]
 [31 32 33]]

In [75]:
print(type(myMatrix))

<class 'numpy.ndarray'>

In [76]:
myMatrix.transpose()

array([[11, 21, 31],
       [12, 22, 32],
       [13, 23, 33]])

In [77]:
myVector = [22,33,44,55]
print(myVector)

[22, 33, 44, 55]

In [78]:
print(type(myVector))

<class 'list'>

In [79]:
myVector = np.array([22,33,44,55])
print(myVector)

[22 33 44 55]

In [80]:
print(type(myVector))

<class 'numpy.ndarray'>

In [81]:
class stack:
    def __init__(self):
        self.items = []
    def isEmpty(self):
        return self.items == []
    def push(self, item):
        self.items.append(item)
    def pop(self):
        return self.items.pop()
    def peek(self):
        return self.item[len(self.items)-1]
    def size(self):
        return len(self.items)

In [82]:
stack=stack()
stack.push('Red')
stack.push('Green')
stack.push("Blue")
stack.push("Yellow")

In [83]:
stack.pop()

'Yellow'

In [84]:
stack.isEmpty()

False

In [85]:
colors = ['Red']

In [86]:
colors.append('Green')
colors.append('Yellow')
colors.append('Blue')

In [87]:
colors

['Red', 'Green', 'Yellow', 'Blue']

In [115]:
class Queue(object):
    def __init__(self):
        self.items = []
    def isEmpty(self):
        return self.items == []
    def enqueue(self, item):
        self.items.insert(0, item)
    def dequeue(self):
        return self.items.pop()
    def size(self):
        return len(self.items)

In [116]:
queue = Queue()

In [117]:
queue.enqueue("Red")

In [118]:
queue.enqueue('Gree')

In [119]:
queue.enqueue('Blue')

In [120]:
queue.enqueue('Yellow')

In [121]:
print(f"Size of queue is {queue.size()}")

Size of queue is 4

In [122]:
print(queue.dequeue())

Red